- content_for :breadcrumbs do
  %ol
    %li= link_to 'Home', '/'
    %li= link_to 'Reviewers', :reviewers

%h2= reviewer.username

.shows
  %ol.twitter_stream
    - reviewer.tweets.order('created_at DESC').each do |tweet|
      = render :partial => 'shared/tweet', :locals => {:tweet => tweet}
