%p
  Total:
  = @total

%table.unclassified
  %thead
    %tr
      %th Tweet
      %th Classification
  %tbody
    - @tweets.each do |tweet|
      %tr
        %td
          = render :partial => 'shared/tweet', :locals => {:tweet => tweet}
          = link_to tweet.show.name, edit_admin_show_path(tweet.show_id), :class => 'show'
        %td= tweet.classification
