%h2 About LaughTrack

%h3 The Goal

%p LaughTrack focuses on tracking what shows people are talking about on Twitter, and what shows they're buying tickets to. Through this, we can provide recommendations on what you may want to see, and get some feel for what shows have increasing buzz over the course of the Melbourne International Comedy Festival.

%p While more features may be added over the course of the Festival, the focus will always be on providing crowd-sourced recommendations.

%h3 The Ratings

%p Show ratings are calculated using a mathematic formula which takes into account the number of positive and negative tweets, and the number of tweets overall, to give a percentage of how good the show is.

%p We're deliberately avoiding formulas that don't take into account the number of tweets - otherwise, a show with only three tweets, all of which are positive, could get a rating of 100.

%p So, consider it an indication of both how much people are talking about the show, and whether they think it's good or not.

%h3 The Tweets

%p While there are no locked in rules around what tweets influence an act's rating, we're really loooking for messages that meet the following criteria:

%ul
  %li Recommendation for or against a festival show
  %li Not excitement for shows before they happen
  %li No Retweets
  %li The focus is on the festival show, not any performers' involvements in TV or Radio shows
  %li Not professions of love for the performer

%p We try to catch all tweets mentioning acts, but our tracking most certainly isn't perfect. One of the big problems is that there are people with the same names as comedians who get a lot of tweets about them, so we'll be finessing our focus as the festival progresses.
  
%p
  We also keep an eye on the
  %code #micf
  and
  %code #laughtrack
  hashtags, to

%p To get things started, we've used tweets from performances in the Adelaide Fringe Festival and the Brisbane Comedy Festival, as the shows performed at these events are the same as what festival-goers here in Melbourne can see.

%h3#contact The People

%p
  LaughTrack was created by&nbsp;
  %a{:href => "http://freelancing-gods.com"}> Pat Allan
  , but there has also been notable contributions from others, including:

%ul
  %li= link_to "Ben Webster", "http://www.plus2.com.au/"
  %li= link_to "Nathan Sampimon", "http://inspire9.com.au/"
  %li= link_to "Andrew France", "http://github.com/odaeus"
  
%p
  The name came from the inspired mind of
  %a{:href => "http://geekscape.org/"} Andy Gelme.

%p
  If you need to get in touch, either
  :javascript
    var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
    "x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
    " r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!29{)rt{y+xx=l;=+;" +
    "lc}tahce({)}}of(r=i-l;1>i0=i;--{)+ox=c.ahAr(t)i};erutnro s.buts(r,0lo;)f}\\" +
    "\"(1)12\\\\,e\\\"gmxr9gjx y2200\\\\\\\\<q/&) hu25\\\\0<\\\\6&02\\\\\\\\(e#*" +
    "5,00\\\\\\\\35\\\\0b\\\\00\\\\0Y\\\\NWLP27\\\\04\\\\02\\\\\\\\Yi\\\\\\\\\\\\"+
    "\\\\7Q03\\\\\\\\KCJA01\\\\0L\\\\@DIKIGFAGPk`77\\\\1m\\\\t&unvq7{.Httgbl.)0\\"+
    "\"\\\\\\\\\\\\dgrbvl,tnu33\\\\00\\\\02\\\\\\\\\\\\t0\\\\03\\\\\\\\25\\\\05\\"+
    "\\03\\\\\\\\\\\"\\\\f(;} ornture;}))++(y)^(iAtdeCoarchx.e(odrChamCro.fngriS" +
    "t+=;o27=1y%){++;i<l;i=0(ior;fthnglex.l=\\\\,\\\\\\\"=\\\",o iar{vy)x,f(n io" +
    "ctun\\\"f)\")"                                                               ;
    while(x=eval(x));
  or hassle us on Twitter:
  %a{:href => "http://twitter.com/laughtrack_au"}@laughtrack_au
  and
  %a{:href => "http://twitter.com/pat"}@pat.

%h3 The Site

%p
  LaughTrack was inspired by a few similar websites built for the Edinburgh Fringe - in particular,
  %a{:href => "http://www.edtwinge.com"} EdTwinge.

%p Because LaughTrack has no commercial angle - we don't want your money - the code has been open sourced, which means anyone can read it, understand how it works, offer suggestions for how it could be better, and actually contribute to improving it.

%p
  If you're so inclined, you can find the code on
  %a{:href => "http://github.com/freelancing-god/laughtrack"} GitHub.