<%= content_for :list do %>
  <ul id="show_list">
    <% shows.each do |show| %>
    <li><a href="#">
      <b><%= show.score.to_i %></b>
      <%= show.heading %>
    </a></li>
    <% end %>
  </ul>
<% end %>
