%h2 Popular Shows

%ol.popular
  - @popular.each do |show|
    %li= link_to_show show

%h2 Quality Shows

%ol.rated
  - @rated.each do |show|
    %li= link_to_show show

= link_to "View All Shows", shows_path
