body { color: $body; background: $bkg; }

h2 { font-size: 26px; color: $laugh_cyan; margin-bottom: 10px; text-shadow: 1px 1px 1px #fff; }
p, li { font-size: 15px; line-height: 21px; }

a { color: $laugh_cyan;
  &:hover { text-decoration: none; background: rgba(0, 0, 0, 0.1); }
}

[placeholder] { color: #999; }

body.about .sidebar { display: none; }
