body { color: $body; background: $bkg; }

h2 { font-size: 26px; color: $laugh_cyan; margin-bottom: 10px; text-shadow: 1px 1px 1px #fff; }
p { font-size: 16px; line-height: 21px; }
a:hover { text-decoration: none; background: rgba(0, 0, 0, 0.1); }

[placeholder] { color: #999; }

tr.active { background: rgba(222, 222, 222, 0.1); }
