#content { margin-top: 85px; }

#main {
  @include span(9);
  margin-left: 0;
  padding-top: 48px;

  .container { width: auto; padding: 0 20px; }
}

#shows { @include span(3); }




// Responsive layout
@media (max-width: 767px) {
  #brand { display: none; }
  header div#navbar ul { margin-left: 0; }

  // GRID & CONTAINERS
  // -----------------

  // Remove width from containers
  .container { width: auto; padding: 0 20px; }
  // Fluid rows
  .row-fluid { width: 100%; }

  // Make all columns even
  #main, #shows {
    float: none;
    display: block;
    width: auto;
    margin: 0;
  }
}

