body {
 background: #EAE1C6;
 color: #555;
}

[placeholder] { color: #999 !important }

tr.active {
  background-color: #F5E5D0;
}

#shows {
  direction: rtl;
  overflow: auto;
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 0;
  width: 397px;
  background: image-url('bg-feature.gif');
  border-right: 3px solid rgba(#000,.05);
  #show_list {
    direction: ltr;
    list-style: none;
    margin: 0;
    padding: 20px 0 60px;
  }
  li {
    position: relative;
    border-bottom: 1px solid #EAE4D3;
    &:last-child {
      border: none;
    }
  }
  a {
    color: #333;
    display: block;
    padding: 7px 60px 7px 20px;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    font: 14px/18px $font-sans;
    &:hover {
      color: #000;
      background: rgba(#fff, .7);
      text-decoration: none;
    }
  }
  .active { border-color: $blue }
  .active a {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 2px solid $blue;
    border-top: 1px solid #ddd;
    font-size: 20px;
    padding: 15px 60px 15px 20px;
  }
  b {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -10px;
    color: $blue;
    font-weight: bold;
    float: right;
    font-size: 16px;
    text-shadow: 0 2px 1px #fff;
  }
}

#content {
  list-style: none;
  position: absolute;
  overflow: auto;
  top: 40px;
  bottom: 0;
  right: 0;
  left: 400px;
  padding: 20px 20px 5px;
  background: image-url('bg-feature.gif');
  ul {
    list-style: none;
    padding: 0;
  }
  a {
    color: #333;
    display: block;
    padding: 20px 40px;
    &:hover { text-decoration: none }
  }
  li {
    background: #fff;
    border: 1px solid;
    border-color: rgba(#000,.1) rgba(#000,.15) rgba(#000,.2);
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 0 10px 20px rgba(#000,.1);
  }
  strong {
    font-size: 18px;
    margin-top: 10px;
  }
  time, .handle { color: #999 }
  time { font-size: 12px }
  img {
    border-radius: 5px;
    float: left;
    margin-right: 10px;
  }
  .content {
    margin-left: 58px;
  }
  p {
    font: 14px/18px $font-sans;
  }
  .show {
    background: #fff;
    border: 1px solid rgba(#000,.1);
    border-bottom: 3px solid $blue;
    font: 22px/28px $font-sans;
    @include border-top-radius(10px);
    a { color: #000 }
    .score {
      color: $blue;
      font-weight: bold;
      float: right;
    }
  }
  .feature {
    border-color: transparent rgba(#000,.1) rgba(#000,.2);
    border-top: none;
    @include border-top-radius(0);
    strong {
      display: block;
    }
    .content {
      margin: 0;
    }
    p {
      clear: left;
      margin-top: 10px;
      font: 22px/28px $font-serif;
    }
  }
}
.show, #tweets {
  max-width: 800px;
  margin: 0 auto;
}