header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 85px;
  z-index: 100;
  background: $bkg;

  ul { @include reset_list; }

  #brand {
    @include span(2.8);
    position: absolute;
    z-index: 2000;
    bottom: -35px;
    left: 0;

    img { width: 100%; }
    a { display: block; // so the whole logo area is clickable
      &:hover { background: none; }
    }
  }

  #user_nav {
    position: absolute;
    top: 5px;
    right: 10px;

    a { color: #999;
      &:hover { background: none; color: $blue; }
    }
  }

  #navbar {
    .navbar-inner {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 40px;
      @include background-image(linear-gradient($laugh_magenta, $dark_magenta));
      @include box-shadow(rgba(0,0,0,0.3) 0 3px 3px);
    }

    ul {
      float: left;
      margin-left: 24%;

      li {float: left; }

      li a {
        display: block;
        width: auto;
        padding: 5px 10px;
        color: #fff;
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 30px;
        text-shadow: 1px 1px 1px $dark_magenta;
      }
    }

    form.navbar-search {
      @include span(2.7);
      float: right;
      margin: 6px 10px;
      padding: 0;
      border: none;

      .search-query {
        background: #fff image-url('search.png') no-repeat 98% 1px;
        border: 1px solid #fff;
        width: 100%;
        padding: 4px 7px;
      }
    }
  }
}

// Active state for nav links
body.home.about a.about,
body.shows.index a.shows,
body.tweets.index a.tweets,
body.tweets.unclassified a.tweets,
body.tweets.detached a.tweets,
body.users.index a.users { background: rgba(0, 0, 0, 0.1); }
