header {
  display: block;
  overflow: hidden;

  ul { @include reset_list; }

  #brand {
    @include span(2.8);
    position: absolute;
    z-index: 2000;
    top: -10px;
    left: 10px;

    img { width: 100%; }
    a { display: block; // so the whole logo area is clickable
      &:hover { background: none; }
    }
  }

  #user_nav {
    float: right;
    margin: 5px 10px 0 0;

    a { color: #999;
      &:hover { background: none; color: $blue; }
    }
  }

  #navbar { margin: 40px 0 0;
    .navbar-inner {
      overflow: hidden;
      @include background-image(linear-gradient($laugh_magenta, $dark_magenta));
    }

    ul {
      float: left;
      margin-left: 23%;

      li a {
        display: block;
        width: auto;
        padding: 5px 10px;
        color: #fff;
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 30px;
      }
    }

    form.navbar-search { float: right; margin: 6px 5px 6px 0; @include span(3.3);}
  }

}

.navbar-search .search-query, .navbar-search .search-query:hover {
  background: #fff image-url('search.png') no-repeat 96% 1px;
  border: 1px solid #fff;
  width: 100%;
}
