#shows {
  background: $base_brown;
  @include box-shadow(#222 5px 0 8px inset);

  h3 {
    padding: 10px 0 10px 10px;
    color: $cream;
    text-shadow: 1px 1px 1px #222;
    background: $dark_brown;
    @include background-image(linear-gradient($not_so_dark_brown, $dark_brown));
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  ul#shows_list {
    @include reset_list;

    li {
      &.featured { @include background-image(linear-gradient(#3F7E8F, #2E5D69, #254F55)); }
      h4, p {
        font-size: 14px;
        color: #ddd;
        text-shadow: 1px 1px 1px #222;
      }
      p {
        font-style: italic;
      }

      strong { // votes number
        display: block;
        float: right;
        margin: 0 10px 0 15px; // a bit of space between number and text
        line-height: 40px; // vertical align
        font-size: 30px;
        font-weight: normal;
        color: $cream;
      }

      a {
        display: block;
        height: 40px;
        overflow: hidden; // incase show heading is extremely long
        padding: 5px 12px;
        color: #ddd;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        border-top: 1px solid rgba(150, 150, 150, 0.2);
      }
    }
  }
}

