= form_tag [:admin, :performers], :method => :get do
  %label{:for => 'query'} Search
  = text_field_tag 'query', params[:query]
  %input{:type => 'submit', :value => 'Search'}

%table
  %thead
    %tr
      %th Name
  %tbody
    - performers.each do |performer|
      %tr
        %td= link_to performer.name, [:edit, :admin, performer]
