- form_tag '', :method => :get do
  %label{:for => 'query'} Search
  = text_field_tag 'query', params[:query]
  %input{:type => 'submit', :value => 'Search'}

%ul
  - @performers.each do |performer|
    %li= link_to performer.name, [:edit, :admin, performer]
