@import "compass/css3";

$font-serif: Georgia,"Times New Roman",serif;
$font-sans: HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;

$body: #555;
$blue: #519FC0;
$laugh_cyan: #57a2c2;
$laugh_magenta: #e8188d;
$dark_magenta: #c1135b;
$light_blue: #57a2c2;
$pink: #f8badd;


$column: 6.382978723%;
$gutter: 2.127659574%;

// Use this mixin to set the width of n columns
@mixin span($n) { width: $column * $n + $gutter * ($n - 1); }
