<ul id="show_list">
  <% shows.each do |show| %>
  <li class="<%= 'featured' if featured == show %>">
    <%= link_to show do %>
      <b><%= show.score.to_i %></b>
      <%= show.heading %>
    <% end %>
  </li>
  <% end %>
</ul>
