%h2 All Shows

- form_tag '', :method => :get do
  %label{:for => 'query'} Search
  = text_field_tag 'query', params[:query]
  %input{:type => 'submit', :value => 'Search'}

%table
  %thead
    %tr
      %th Act
      %th Show
  %tbody
    - @shows.each do |show|
      %tr
        %td= act_name show.act
        %td= link_to_show show

= will_paginate @shows
