!!! 5
%html
  %head
    %title LaughTrack
    = stylesheet_link_tag 'reset', 'formtastic', 'formtastic_changes'
  %body
    %h1 LaughTrack
    - flash.each do |key, message|
      %p{:class => key.to_s}= message
    = yield
